{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
                <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">Task Name : {{details.name}}</h5>
                   <p>Priority : {{details.priority}}</p>
                    <div class="text" style="color:red">{{details.date}}</div>
                    <a class="btn btn-primary" href="{% url 'delete' details.id %}">done</a>
                    <a class="btn btn-primary" href="{% url 'deletev' details.id %}">delete</a>
                    <a class="btn btn-success" href="{% url 'edit' details.id %}">Update</a><br>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}